---
import { getEntry, render, getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

import "../../styles/markdown.css";

export async function getStaticPaths() {
  const posts = await getCollection("posts");

  return posts.map((post) => ({ params: { slug: post.data.slug } }));
}

const { slug } = Astro.params;

const post = await getEntry("posts", slug);

if (!post) {
  throw new Error(`Could not find blog post "${slug}"`);
}

const { Content } = await render(post);
---

<Layout title={post.data.title} description={post.data.description}>
  <div>Published At {post.data.publishedAt.toLocaleDateString()}</div>
  <main class="container prose">
    <Content />

    <div>
      <hr />
      <p>
        If you found this guide helpful, please consider giving feedback or
        suggesting improvements.
      </p>
      <p>
        And if you spot something that can be done better, feel free to reach
        out—I’m always looking to improve this tutorial.
      </p>

      <a
        href={`https://github.com/eujuliu/portfolio/blob/main/posts/${post.id}.md`}
        target="_blank">You can edit this post here</a
      >
    </div>
  </main>

  <style>
    div {
      margin: 1rem 0 1rem;
    }
  </style>
</Layout>
