---
import Text from '../components/Text';
import List from '../components/List';
import BaseLayout from '../layouts/BaseLayout.astro';
import type { ListProps } from '../components/List';
import Link, { type LinkTranslation } from '../components/Link';

const resumes: LinkTranslation = {
	en: {
		name: "Julio's Resume",
		href: '/public/curriculum-en.docx',
		type: 'download',
	},
	'pt-br': {
		name: 'Currículo do Julio',
		href: '/public/curriculum-pt-br.docx',
		type: 'download',
	},
};
const sections: ListProps[] = [
	{
		titleTranslation: 'aboutMe.experience.label',
		items: [
			{
				title: 'Software Engineer',
				company: 'HEADER Interactive',
				period: 'Jan 2023 - Dec 2024',
				local: 'Curitiba, Paraná, Brazil',
				tools: [
					'Vue.js',
					'Node.js',
					'Typescript',
					'Git',
					'Docker',
					'Docker Compose',
					'JavaScript',
					'IBM DB2',
					'MongoDB',
					'RabbitMQ',
					'BullMQ',
					'AWS',
				],
				translation: {
					'pt-br': {
						title: 'Engenheiro de Software',
						period: 'Jan 2023 - Dez 2024',
						local: 'Curitiba, Paraná, Brasil',
					},
					es: {
						title: 'Ingeniero de Software',
						period: 'Ene 2023 - Dic 2024',
						local: 'Curitiba, Paraná, Brasil',
					},
				},
			},
		],
	},
	{
		titleTranslation: 'aboutMe.projects.label',
		items: [
			{
				title: 'Chat realtime',
				description:
					'I developed a real-time chat API using Node.js and TypeScript, leveraging Domain-Driven Design (DDD) to ensure scalability and maintainability. I integrated Nginx as a reverse proxy and Docker for consistent deployments while implementing secure user authentication with MySQL. I enabled real-time global chat functionality with MongoDB for efficient message storage and used Terraform to automate infrastructure provisioning, reducing deployment time by 50% and enhancing system performance.',
				link: 'https://github.com/eujuliu/chatrealtime-backend',
				tools: [
					'TypeScript',
					'Node.js',
					'WebSocket',
					'Terraform',
					'Docker',
					'Unit Testing',
					'CI/CD',
					'Nginx',
					'Reverse Proxy',
				],
				translation: {
					'pt-br': {
						description:
							'Desenvolvi uma API de chat em tempo real usando Node.js e TypeScript, aproveitando o Domain-Driven Design (DDD) para garantir escalabilidade e manutenibilidade. Integrei o Nginx como um proxy reverso e o Docker para implantações consistentes enquanto implementava autenticação segura de usuário com MySQL. Habilitei a funcionalidade de chat global em tempo real com o MongoDB para armazenamento eficiente de mensagens e usei o Terraform para automatizar o provisionamento de infraestrutura, reduzindo o tempo de implantação em 50% e melhorando o desempenho do sistema.',
					},
					es: {
						description:
							'Desarrollé una API de chat en tiempo real utilizando Node.js y TypeScript, aprovechando el diseño impulsado por el dominio (DDD) para garantizar la escalabilidad y la capacidad de mantenimiento. Integré Nginx como proxy inverso y Docker para implementaciones consistentes mientras implementaba la autenticación segura de usuarios con MySQL. Habilité la funcionalidad de chat global en tiempo real con MongoDB para un almacenamiento eficiente de mensajes y utilicé Terraform para automatizar el aprovisionamiento de infraestructura, lo que redujo el tiempo de implementación en un 50% y mejoró el rendimiento del sistema.',
					},
				},
			},
			{
				title: 'Restaurant API',
				description:
					'I engineered a robust restaurant API using Node.js, TypeScript, and Prisma (PostgreSQL) to enable user registration, order processing, and payment completion. I adhered to SOLID and Domain-Driven Design (DDD) principles for a modular and scalable architecture. By conducting thorough unit and integration testing with Jest and Docker, I enhanced code reliability and reduced bugs by 30%. I streamlined order and payment processes, boosting transaction efficiency by 25%, and optimized database interactions with Prisma, reducing response times by 20%.',
				tools: ['SOLID', 'DDD', 'Node.js', 'Docker', 'PostgreSQL'],
				link: 'https://github.com/eujuliu/restaurant-api',
				translation: {
					'pt-br': {
						title: 'API de Restaurante',
						description:
							'Eu projetei uma API de restaurante robusta usando Node.js, TypeScript e Prisma (PostgreSQL) para habilitar o registro do usuário, processamento de pedidos e conclusão de pagamento. Eu aderi aos princípios SOLID e Domain-Driven Design (DDD) para uma arquitetura modular e escalável. Ao conduzir testes completos de unidade e integração com Jest e Docker, eu melhorei a confiabilidade do código e reduzi os bugs em 30%. Eu simplifiquei os processos de pedidos e pagamentos, aumentando a eficiência das transações em 25%, e otimizei as interações do banco de dados com Prisma, reduzindo os tempos de resposta em 20%.',
					},
					es: {
						title: 'API de restaurante',
						description:
							'Diseñé una API robusta para restaurantes utilizando Node.js, TypeScript y Prisma (PostgreSQL) para permitir el registro de usuarios, el procesamiento de pedidos y la finalización de pagos. Seguí los principios de SOLID y Domain-Driven Design (DDD) para lograr una arquitectura modular y escalable. Al realizar pruebas unitarias y de integración exhaustivas con Jest y Docker, mejoré la confiabilidad del código y reduje los errores en un 30 %. Agilicé los procesos de pedidos y pagos, lo que aumentó la eficiencia de las transacciones en un 25 %, y optimicé las interacciones con la base de datos con Prisma, lo que redujo los tiempos de respuesta en un 20 %.',
					},
				},
			},
			{
				title: 'Discord App Clone',
				description:
					'I developed a user interface clone of the Discord mobile app using Expo, React Native, and TypeScript, replicating chat and video chat functionalities. I utilized styled-components for dynamic styling, ensuring a responsive and consistent user experience across devices. By closely mirroring Discord’s design, I created a seamless and intuitive interface. Leveraging React Native’s cross-platform capabilities, I optimized the app for both iOS and Android, showcasing my expertise in modern mobile UI development.',
				tools: ['React Native', 'TypeScript', 'styled-components', 'Expo'],
				link: 'https://github.com/eujuliu/discord-expo',
				translation: {
					'pt-br': {
						title: 'Clone do App do Discord',
						description:
							'Desenvolvi um clone de interface de usuário do aplicativo móvel Discord usando Expo, React Native e TypeScript, replicando funcionalidades de chat e chat de vídeo. Utilizei styled-components para estilo dinâmico, garantindo uma experiência de usuário responsiva e consistente em todos os dispositivos. Ao espelhar de perto o design do Discord, criei uma interface perfeita e intuitiva. Aproveitando os recursos multiplataforma do React Native, otimizei o aplicativo para iOS e Android, mostrando minha experiência em desenvolvimento de UI móvel moderno.',
					},
					es: {
						title: 'Clone do aplicativo Discord',
						description:
							'Desarrollé una interfaz de usuario clonada de la aplicación móvil Discord usando Expo, React Native y TypeScript, replicando las funcionalidades de chat y video chat. Utilicé componentes con estilo para crear un estilo dinámico, asegurando una experiencia de usuario responsiva y consistente en todos los dispositivos. Al reflejar fielmente el diseño de Discord, creé una interfaz fluida e intuitiva. Aprovechando las capacidades multiplataforma de React Native, optimicé la aplicación tanto para iOS como para Android, mostrando mi experiencia en el desarrollo de UI móviles modernas.',
					},
				},
			},
		],
	},
	{
		titleTranslation: 'aboutMe.education.label',
		items: [
			{
				title: 'UNINTER International University Center',
				company: "Associate's degree, Computer Systems Analysis/Analyst",
				tools: [''],
				period: 'Sep 2022 - Dec 2024',
				translation: {
					'pt-br': {
						title: 'Centro Universitário Internacional UNINTER',
						company: 'Tecnólogo em Analise e Desenvolvimento de Sistemas',
						period: 'Set 2022 - Dez 2024',
					},
					es: {
						title: 'Centro Universitario Internacional UNINTER',
						company: 'Tecnólogo en Análisis y Desarrollo de Sistemas',
						period: 'Sep 2022 - Dic 2024',
					},
				},
			},
		],
	},
];
const languages = ['pt-br', 'en', 'es'];
---

<BaseLayout>
	<div class="about-me-content">
		<div class="wrapper">
			<img src="/images/profile-picture.jpg" alt="A picture of Julio Martins" />

			<div class="group">
				<Text
					className="about-me title"
					size="5xl"
					translation="aboutMe.label"
					weight="bold"
					client:only
				/>
				<Text
					size="base"
					className="about-me text"
					translation="aboutMe.text"
					client:only
				/>
			</div>
		</div>

		{
			sections.map((section) => (
				<List
					titleTranslation={section.titleTranslation}
					items={section.items}
					client:only
				/>
			))
		}

		<Text
			size="5xl"
			weight="bold"
			translation="aboutMe.languages.label"
			className="languages-title"
			client:only
		/>

		<div class="languages">
			{
				languages.map((language) => (
					<div class="language">
						<Text size="lg" translation={`languages.${language}`} client:only />
						<Text
							size="base"
							translation={`aboutMe.languages.levels.${language}`}
							client:only
						/>
					</div>
				))
			}
		</div>

		<Link name="download-curriculum" to={resumes} client:only>
			<i class="bx bx-down-arrow-alt"></i>
			<Text size="base" translation="aboutMe.curriculum" client:only />
		</Link>
	</div>
</BaseLayout>

<style is:global>
	.about-me-content {
		padding: 2rem;

		display: flex;
		gap: 2.5rem;
		flex-direction: column;
	}

	.about-me-content .wrapper {
		display: flex;
		gap: 2.5rem;
		flex-direction: column;
	}

	.about-me-content .wrapper .group {
		display: flex;
		gap: 2.5rem;
		flex-direction: column;
	}

	.about-me-content .wrapper img {
		max-width: 100%;
		border-radius: 15px;
	}

	.about-me-content .about-me.title {
		border-bottom: 2px solid var(--text-color);
	}

	.about-me-content .languages {
		display: flex;
		gap: 1rem;
		flex-direction: column;
		border-bottom: 1px solid var(--text-color-hover);
		padding-bottom: 2.5rem;
	}

	.about-me-content .languages .language {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.about-me-content .languages-title {
		border-bottom: 2px solid var(--text-color);
	}

	.about-me-content .download-curriculum {
		font-size: var(--font-size-base);
		color: var(--text-color);
		font-weight: bold;
		text-decoration: none;
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding-bottom: 2.5rem;
	}

	@media screen and (min-width: 768px) {
		.about-me-content {
			max-width: 80vw;
		}

		.about-me-content .wrapper {
			display: flex;
			gap: 2.5rem;
			flex-direction: row;
		}

		.about-me-content .wrapper img {
			max-width: clamp(200px, 40rem, 400px);
			order: 2;
		}
	}
</style>
