---
import Footer from "../components/Footer.astro";
import { Nav } from "../components/Nav";
import Analytics from "@vercel/analytics/astro";
import SpeedInsights from "@vercel/speed-insights/astro";

import "../styles/global.css";

type Props = {
  title: string;
  description?: string;
  image?: string;
  type?: string;
};

const {
  title,
  description = "This is my portfolio together with my blog.",
  image = "",
  type = "website",
} = Astro.props;
const currentPath = Astro.url.pathname;
const url = Astro.url.href;
const items = [
  { label: "About", link: "/" },
  { label: "Projects", link: "/projects" },
  { label: "Posts", link: "/posts" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={type} />
    <meta property="og:url" content={url} />
    <meta property="og:image" content={image} />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@thejuliu" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content={image} />

    <meta property="title" content={title} />
    <meta property="description" content={description} />

    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <article>
      <h1>{title}</h1>
      <Nav client:load items={items} active={currentPath} />
      <slot />
      <Footer />

      <Analytics />
      <SpeedInsights />
    </article>
  </body><style is:global>
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1rem 0;
    }

    body article {
      max-width: 65ch;
      width: 100%;
      padding-top: 8rem;
      padding-bottom: 12.8rem;
    }

    body article h1 {
      font-size: 2.6rem;
      font-weight: 800;
      margin-bottom: 3.2rem;
    }

    body article nav {
      margin-bottom: 3rem;
    }

    body article nav ul {
      list-style: none;
      display: flex;
      justify-content: end;
      gap: 1rem;
    }

    body article nav ul li a {
      color: var(--text);
      text-decoration: underline;
    }

    body article nav ul li.active a {
      text-decoration: none;
      pointer-events: none;
    }
  </style>
</html>
